h1 {
  background: #F00;
  border: 1px solid #00F;
}
h1:hover {
  background: #00F;
}
[attr] {
  text-transform: small-caps;
  overflow: hidden;
}
[attr="123"] {
  position: absolute;
  border-radius: 2px;
}
#specificity-overkill {
  color: #FF0;
  z-index: 2;
}
.rp__color__--COLON__--OCTOTHORP00F {
  color: #00F;
}
.rp__color__--COLON__--OCTOTHORPF00___-HOVER:hover {
  color: #F00;
}
.rp__padding__--COLON10px {
  padding: 10px;
}
.rp__margin__--COLON5px {
  margin: 5px;
}
.rp__display__--COLONblock {
  display: block;
}
.rp__text-align__--COLONcenter {
  text-align: center;
}
.rp__font-family__--COLONsans-serif {
  font-family: sans-serif;
}
.rp__-webkit-text-size-adjust__--COLON100__--PERCENT {
  -webkit-text-size-adjust: 100%;
}
.rp__margin__--COLON0 {
  margin: 0;
}
.rp__display__--COLONinline-block {
  display: inline-block;
}
.rp__vertical-align__--COLONbaseline {
  vertical-align: baseline;
}
.rp__display__--COLONnone {
  display: none;
}
.rp__height__--COLON0 {
  height: 0;
}
.rp__background__--COLONtransparent {
  background: transparent;
}
.rp__outline__--COLON0 {
  outline: 0;
}
.rp__border-bottom__--COLON1px_____-dotted {
  border-bottom: 1px dotted;
}
.rp__font-size__--COLON12px {
  font-size: 12px;
}
.rp__padding__--COLON8px {
  padding: 8px;
}
.rp__background__--COLON__--OCTOTHORPF00 {
  background: #F00;
}
